<%- include('./partials/header') %> 

        <main>
            <h1>Contato</h1>
            <p>Contato Com ETs</p>
            <button type="submit">enviar</button>
        </main>
    </body>
</html>
