<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Produtos</h1>
    <p>Produtos de primeira qualidade</p>
    <button type="submit">enviar</button>
  </body>
</html>
